*
{
	font-family: "Arial";
}
body
{
	background-color: #CDC5BF;
	text-align: center;
}
nav a
{
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

nav a:hover
{
	text-decoration: underline;
}

h1
{
	color: #27408B;
	background-color: #ffffff;
	text-transform: uppercase;
	font-size: 20px;
	padding: 5px;
	width: 400px;
	border-left: 10px solid #8B636C;
	border-right: 10px solid #8B636C;
	border-top: 2px solid #8B636C;
	border-bottom: 2px solid #8B636C;
	border-radius: 30px;
}

h1,
div#infoMessage,
fieldset,
table
{
	margin-left: auto;
	margin-right: auto;
}

div#infoMessage
{
	background-color: #ffcc00;
	width: 400px;
	border-radius: 10px;
	padding: 10px;
	color: #d40000;
}

fieldset
{
	background-color: #ffffff;
	width: 400px;
	text-align: left;
	border-radius: 5px;
	border: 0px;
}

legend
{
	font-weight: bold;
	background: #ffffff;
	border-radius: 5px;
	padding-top: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

legend,
label
{
	color: #8B636C;
}

input,
select
{
	border:1px solid #8B636C;
	margin-bottom: 7px;
}

input[type=text]#nome,
input[type=text]#rua,
input[type=email]
{
	width: 95%;
}

input[type=submit],
input[type=button]
{
	background-color: #8B636C;
	color: #ffffff;
	font-weigth: bold;
	border-radius: 5px;
	padding: 5px 8px;
}

input[type=submit]:hover,
input[type=button]:hover
{
	background-color: #CD919E;
}

table
{
	background-color: #ffffff;
	font-size: 14px;
	border-spacing: 2px;
	border-collapse: separate;
	border-radius: 5px;
}

th
{
	background-color: #8B636C;
	color: #ffffff;
	text-transform: uppercase;
	padding: 4px;
}

tr:nth-child(even)
{
	background-color: #EEE0E5;	
}

tr:nth-child(odd)
{
	background-color: #ffffff;
}

td
{
	padding: 4px;
}